.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.header {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-family: "Inter";
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  width: 80%;
}

.table1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.table1 td {
  padding: 10px;
  margin: 20px;
}

.table2 {
  padding: 10px 40px 60px;
  background-color: #ffffff;
  margin: 20px;
  margin-bottom: 200px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-collapse: separate;
  border-spacing: 0 10px;
}

.main-heading {
  font-size: 18px;
  font-family: "Inter";
  padding: 0px 0px 30px;
}

.table-headings th {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
}

.table-content {
  padding: 10px;
  margin: 10px;
  background-color: #d9d9d9;
  text-align: center;
  vertical-align: middle;
}

.table-content td:nth-child(1) {
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
}

.button {
  background-color: #363636;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-column {
  width: 0%;
}

.footer {
  position: relative;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

.footer-sec-1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-sec-2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
